.movie {
  margin-top: 50px;

  &__title {
    margin-bottom: 24px;
  }

  &__detail {
    margin-right: 24px;
    span {
      font-weight: 600;
    }
  }

  &__plot {
    margin-top: 36px;
  }

  &__img {
    width: 100%;
    margin-bottom: 24px;
  }
}