.movie-card {
  text-decoration: none;
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 11px -1px rgba(105,93,105,1);
    &:hover {
      text-decoration: none;
      box-shadow: 6px 6px 11px -9px rgba(105,93,105,1);
    }
    padding-top: 24px;
  }


  &__wrapper {
    padding: 30px 24px;
  }

  &__detail {
    margin-bottom: 16px;
    span {
      font-weight: 600;
    }
  }

  &__img {
    height: 100%;
    max-height: 300px;
    margin-bottom: 30px;
  }
}