.results {
  border-bottom: 1px solid black;
  padding: 16px 0;
  margin-bottom: 48px;

  &__number {
    font-weight: 600;
  }

  &__btn {
    position: relative;
    border: 1px solid #153E7E;
    background-color: white;
    color: #153E7E;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
    padding: 5px 8px 5px 20px;
    margin-left: 16px;

    &:hover, &:focus {
      background-color: #153E7E;
      color: white;
    }
  }

  &__icon {
    position: absolute;
    left: 2px;
    top: 4px;
    height: 16px;
    width: 16px;
    color: #153E7E;
  }
}